<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-FOR</title>
</head>
<body>

    <main id='app'>
       <h1>Frutas favoritas</h1>
        <ul>
            <ol v-for="dato in datos">{{dato.id}} - {{dato.valor}}</ol>
        </ul>

        <br>

        <select name="" id="" v-model="datos.id">
            <option v-for="dato in datos" :value="dato.id">{{dato.valor}}</option>
        </select>

        <br>

        <input type="text" name="" id="" :value="datos.id">

    </main>
    
    <script src='https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js'></script>

    <script> 
        const app = new Vue({
            el: '#app',
            data: {
                datos: [
                    {
                        valor: 'Uvas',
                        id:1
                    },
                    {
                        valor: 'Manzanas',
                        id:2
                    },
                    {
                        valor: 'Naranjas',
                        id:3
                    },
                    {
                        valor: 'Sandias',
                        id:4
                    },
                ]
            }
        })
        

    </script>
</body>
</html>